#game-window{
    display:flex;
    margin:auto;
}

#log-window{
    border:1px solid gray;
    width:300px;
}

#log-title{
    text-align:center;
    font-weight: 600;
}

#log{
    overflow-y:scroll;

    p{
        margin:0;
    }

    .turn-counter{
        text-align:center;
    }
}

#board{
    /*
    background-color: #d9d2bf;
    color: #3d3936;
    */
    white-space:pre-line;
    font-family: monospace;
    font-size:xx-large;
    float:left;
}

#board:focus{
    border:1px solid #BBBBBB;
}

#resources{
    display:flex;

    
}

#resources>div{
    margin:5px;
}

#stamina-bar{
    border:1px solid #bbbbbb;
    height:20px;
    width:100px;
}

#stamina-level{
    background-color: yellow;
    height:20px;
    width:100px;
    border:1px solid gray;
}

#health-bar{
    border:1px solid #bbbbbb;
    height:20px;
    width:100px;
}

#health-level{
    background-color: red;
    height:20px;
    width:100px;
    border:1px solid gray;
}

#instructions-div{
    padding-top:20px;
    padding-bottom:20px;
    font-family: monospace;
}

#enemy-control-div{
    padding:5px;
    input{
        width:20px;
    }

    div{
        padding-bottom:5px;
    }
}

#weapon-select-div{
    padding:5px;
}

.message-fresh{
    background-color:rgb(252, 244, 233);
}