html{
    
}

#board{
    /*
    background-color: #d9d2bf;
    color: #3d3936;
    */
    white-space:pre-line;
    font-family: monospace;
    font-size:xx-large;
    width:fit-content;
}

#board:focus{
    border:1px solid #BBBBBB;
}

#stamina-bar{
    border:1px solid #bbbbbb;
    height:20px;
    width:100px;
}

#stamina-level{
    background-color: yellow;
    height:20px;
    width:100px;
    border:1px solid gray;
}

#health-bar{
    border:1px solid #bbbbbb;
    height:20px;
    width:100px;
}

#health-level{
    background-color: red;
    height:20px;
    width:100px;
    border:1px solid gray;
}

#instructions-div{
    padding-top:20px;
    padding-bottom:20px;
    font-family: monospace;
}

#enemy-control-div{
    padding:10px;
    input{
        width:20px;
    }
}